// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #2d4059;
$body-color: #000;
$primary: #ea5e5e;
$font-family-base: Arial;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 20px;
}

.navbar {
  background-color: #2d4059;
}

.card-title {
  text-transform: uppercase;
  font-weight: bold;
}

.jumbotron {
  background-image: url(/Jumpotron_Background.JPG);
  background-size: cover;
  margin: 20px;
}

.display-4 {
  padding: 0.2em;
  background-color: rgb(225, 205, 195, 0.8);
  display: table;
  text-transform: uppercase;
}

.lead {
  padding: 0.2em;
  background-color: rgb(225, 205, 195, 0.8);
  display: table;
}

.row {
  margin: 20px;
}

.nav-item {
  text-transform: uppercase;
  font-weight: bold;
}

.card-deck {
  display: block;
}

.card-body {
  background-color: #e5e5e5;
}

.maintext {
  background-color: #e5e5e5;
  margin: 20px;
  padding: 1em;
}
